:root {
    --background-color: rgb(7, 12, 26);
    color: whitesmoke;
    font-size: 16px;

}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background:#1e1e24 ;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
    /* background: tomato; */
}
body{
    background-color: var(--background-color);
    /* display: flex;
    flex-direction: column; */
    height: auto;
    margin: 0px;
    padding: 0;
    color: whitesmoke;
}
/* h1 {
    font-family: 'Covered By Your Grace', cursive;
}
h2, h3, h4, h5, h5, p {
    font-family: 'PT Sans', sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Covered+By+Your+Grace&family=Oswald:wght@300&family=PT+Sans&display=swap'); 

a {
    color: currentColor;
    text-decoration: none;
}
header{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url(../img/header.integra.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#logo{
    margin: 0;
    padding: 0;
    padding-top: 25vh;
    text-align: center;
}
.text1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
}
#logo h1 .white-bk{
    margin: 0;
    padding: 0;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
}
#logo h1 .black-bk{
    margin: 0;
    padding: 0;
    color: whitesmoke;
    background-color: black;
    border: 1px solid black;
}
#logo #head-line {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 3rem;
}

/* buttons */

#btns button{
    font-size: 2rem;
    border: none;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer;
    overflow: hidden;
    background: transparent;
    transition: 0.5s ease-in-out;
    position: relative;
}
#btn1 {
    color: tomato;
    border: 2px solid whitesmoke;
}
#btn2{
    border: 2px solid tomato;
}
#btn1::before{
    content: "";
    position: absolute;
    inset: 0;
    background: whitesmoke;
    transition: 0.5s ease-in-out;
    z-index: -1;
    clip-path: circle(0% at 50% 50%);
}
#btn2::before{
    content: "";
    position: absolute;
    inset: 0;
    background: tomato;
    transition: 0.5s ease-in-out;
    z-index: -1;
    clip-path: circle(0% at 50% 50%);
    
}
#btn1:hover{
    color: tomato;
}
#btn2:hover{
    color: whitesmoke;
}
#btn1:hover::before{
    clip-path: circle(100% at 50% 50%);
}
#btn2:hover::before{
    clip-path: circle(100% at 50% 50%);
}



/* MAI JOS SUNT SETARI PENTRU LAPTOPURI */
/* .proiecte {
    display: flex;
    width: 100%;
    gap: 0.5rem;
}
.proiect{
    border: 2px solid red;
    box-sizing: border-box;
    flex-basis: calc(100% / 3);

} */
