:root {
    --background-color: rgb(7, 12, 26);
    color: whitesmoke;
    font-size: 16px;

}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background:#1e1e24 ;
}
body::-webkit-scrollbar-thumb {
    background: #6649b8;
    /* background: tomato; */
}
body{
    background-color: var(--background-color);
    /* display: flex;
    flex-direction: column; */
    height: auto;
    margin: 0px;
    padding: 0;
    color: whitesmoke;
}
/* h1 {
    font-family: 'Covered By Your Grace', cursive;
}
h2, h3, h4, h5, h5, p {
    font-family: 'PT Sans', sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Covered+By+Your+Grace&family=Oswald:wght@300&family=PT+Sans&display=swap'); 

a {
    color: currentColor;
    text-decoration: none;
}
header{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url(../img/header.integra.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



#logo{
    margin: 0;
    padding: 0;
    padding-top: 25vh;
    text-align: center;
}
.text1{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 3.5rem;
}
#logo h1 .white-bk{
    margin: 0;
    padding: 0;
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
}
#logo h1 .black-bk{
    margin: 0;
    padding: 0;
    color: whitesmoke;
    background-color: black;
    border: 1px solid black;
}
#logo #head-line {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 3rem;
}

/* buttons */

.btn-1{
    background-color:#e30004;
    color:whitesmoke;
    font-size: 1.2rem;
    border: 2px solid #e30004;
    border-radius: 1em;
    font-weight: 900;
    padding-top: 0.15em;

}
.btn-2{
    background-color: whitesmoke;
    color: #e30004;
    font-size: 1.2rem;
    border: 2px solid whitesmoke;
    border-radius: 1em;
    font-weight: 900;
    padding-top: 0.15em;
}